/* Variables */
:root {
    --font-family: "Quicksand", sans-serif;
    --color-background: #1a1a1a;
    --color-body: #ffffff;
    --color-offwhite: #e0e0e0;
    --color-primary: #ff4d5a;
    --color-gray: rgba(40, 40, 40, 0.95);
    --color-blue: #4b5563;
    --color-border: #3e3e3e;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

input, textarea {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* -------------------------- */

html {
    scroll-behavior: smooth;
}

main {
    margin-inline: auto;
}

body{
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-body);
    line-height: 1.6;
}

h2 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 50px;
    color: var(--color-primary);
    line-height: 1;
    text-align: center;
}


#about, #projects, #contact {
    max-width: 1000px;
    margin-inline: auto;
    scroll-margin-top: 80px;
    /* border: 1px solid var(--color-border); */
}

/* Home */

#home {
    position: relative;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    line-height: normal;
}
#home::before {
    content: '';
    background-image: url(https://images.unsplash.com/photo-1533136036465-1861830963f6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.09;
}

.home-tagline-1 {
    max-width: 1000px;
    font-size: 2.9rem;
    font-weight: 200;
    animation-name: slideRight;
    animation-duration: 1.4s;
}

#tagline-name {
    color: var(--color-primary);
}


.home-tagline-2 {
    max-width: 1000px;
    font-size: 1.5rem;
    font-weight: 200;
    animation-name: slideLeft;
    animation-duration: 1.4s;
    text-align: center;
}

.home-buttons {
    max-width: 1000px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    animation: moveInFromBottom 0.7s 1.2s;
    animation-fill-mode: backwards;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    letter-spacing: .1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: var(--color-primary);
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(212, 165, 116, 0.3);
    color: var(--color-body);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray);
    box-shadow: 0 4px 4px black;
    padding: 15px 25px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    margin-bottom: 50px;
}

.logo {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    font-weight: 200;
}

#logo-period {
    color: var(--color-primary);
}

.nav-links {
    display: flex;
    gap: 10px;
}

.navbar-link {
    color: var(--color-offwhite);
    font-size: 0.87rem;
    position: relative;
    transition:  color 0.3s ease;
}

.navbar-link:hover {
    color: var(--color-blue);
}

.navbar-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 2px;
    left: 50%;
    width: 0;
    background-color: var(--color-primary);
    display: block;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-link, #github-link {
    text-decoration: none;
}

/* About */

#about {
    padding: 80px 40px;
    background-color: var(--color-gray);
}

.about-content {
    display: grid;
    gap: 50px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-container {
    position: relative;
    max-width: 100%;
    width: 200px;
    height: 200px;
    margin-inline: auto;
    margin-bottom: 50px;
    z-index: 1;
}

#profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Gradient profile-picture effect */

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.image-container::after, .image-container::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: conic-gradient(from var(--angle), var(--color-primary), var(--color-blue), var(--color-offwhite), var(--color-primary));
    top: 50%;
    left: 50%;
    border-radius: 50%;
    translate: -50% -50%;
    padding: 3px;
    animation: 3s spin linear infinite;
    z-index: -1;
}

.image-container::before {
    filter:blur(1.5rem);
    opacity: 0;
}

/* ------------------------------- */
#skills-title {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skills-list li {
    padding: 10px 18px;
    font-size: 0.9rem;
    border: 1px solid var(--color-primary);
    transition: all 0.2s ease;
}

.skills-list li:hover {
    background-color: rgba(255, 77, 89, 0.152);
    transform: translateY(-2px);
}

/* Projects */

#projects {
    padding: 80px 40px;
}

.projects-grid {
    display: grid;
    gap: 30px;
}

.project-card {
    display: grid;
    align-items: start;
    background-color: var(--color-gray);
    gap: 20px;
    padding: 30px;
    border: 1px solid var(--color-border);
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.project-card:hover {
    border-color: var(--color-blue);
    transform: translateY(-3px);
}

.project-card h3 {
    font-weight: 400;
}

.project-card p {
    color: var(--color-offwhite);
}

.project-image {
    height: 180px;
    width: 300px;
    object-fit: cover;
    margin-inline: auto;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.project-tags li {
    background-color: var(--color-background);
    padding: 5px 12px;
    font-size: 0.8rem;
    color: var(--color-offwhite);
}

.project-links {
    display: flex;
    gap: 25px;
}

.project-link {
    color: var(--color-primary);
    font-size: 0.9rem;
    transition: opacity 0.2s ease;
}

.project-link:hover {
    opacity: 0.7;
}

/* Contact */

#contact {
    background-color: var(--color-gray);
    padding: 80px 40px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.contact-intro {
    margin-bottom: 50px;
}

.contact-content {
    display: grid;
    gap: 50px;
}

/* Contact Form */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-intro {
    max-width: 500px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-label {
    font-size: 0.9rem;
    color: var(--color-offwhite);
}

#name, #email, #message {
    padding: 15px;
    border: 1px solid var(--color-border);
    background-color: var(--color-gray);
    color: var(--color-offwhite);
    font-size: 1rem;
}

#name::placeholder, #email::placeholder, #message::placeholder {
    opacity: 1;
}

#name:focus, #email:focus, #message:focus {
    outline: none;
    border-color: var(--color-blue);
}

/* Contact Info */

.contact-info h3 {
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: var(--color-primary);
    font-weight: 500;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-links a {
    color: var(--color-offwhite);
    transition: color 0.2s ease;
}

.contact-links a:hover {
    color: var(--color-primary);
}

/* Footer */
footer {
    text-align: center;
    padding: 40px;
    border-top: 1px solid var(--color-border);
    color: var(--color-offwhite)
}
/* media querys */

@media (min-width: 375px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .contact-content {
        grid-template-columns: 1fr;
    }

    .about-content {
        grid-template-columns: 1fr;
    }
}

@media (min-width:768px) {
    body {
        font-size: 1.1rem;
    }
    .navbar-link {
        font-size: 0.95rem;
    }
    .home-tagline-1 {
        font-size: 3rem;
    }
    
    .home-tagline-2 {
        font-size: 1.7rem;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .contact-content {
        grid-template-columns: 1.5fr 1fr;
    }

    .about-content {
        grid-template-columns: 2fr 1fr;
    }

}

@media (min-width: 900px) {
    .home-tagline-1 {
        font-size: 4rem;
    }

    .home-tagline-2 {
        font-size: 2rem;
    }

    section {
        padding: 100px 0;
    }
}

@media (min-width: 1200px) {
    .home-tagline-1 {
        font-size: 4.5rem;
    }

    .home-tagline-2 {
        font-size: 2.7rem;
    }
}
/* Animation keyframes */


@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(10rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-10rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromBottom {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
