/* Variables */
:root {
    /* change font family */
    --font-family: monserat, sans-serif;
    --color-background: #1a1a1a;
    --text-heading: #ffffff;
    --color-body: #ffffff;
    --color-offwhite: #e0e0e0;
    --color-primary: #ff4d5a;
    --color-grey: rgba(40, 40, 40, 0.95);
    --color-accent: #9b89b3;
    --color-blue: #4a5568;
    --color-border: #3d3d3d;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* -------------------------- */

html {
    scroll-behavior: smooth;
}

main {
    margin-inline: auto;
}

body{
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-body);
    line-height: 1.6;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 50px;
    color: var(--color-primary);
    line-height: 1;

}

/* Home */

#home, #about, #projects, #contact {
    max-width: 1000px;
    margin-inline: auto;
    scroll-margin-top: 80px;
}

#home {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    line-height: normal;
}

.home-tagline-1 {
    font-size: 2.9rem;
    font-weight: 200;
    animation-name: slideRight;
    animation-duration: 1.4s;
}

#tagline-name {
    /* -webkit-text-stroke: 2px magenta; */
    color: var(--color-primary);

}


.home-tagline-2 {
    font-size: 1.9rem;
    font-weight: 200;
    animation-name: slideLeft;
    animation-duration: 1.4s;
}

.home-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    letter-spacing: .1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    color: var(--color-body);
    font-weight: bold;
}
.btn-primary {
    background-color: var(--color-primary);
    border: 1px solid transparent;
}

.btn-primary:hover {
    transform: translateY(-2px);
    background-color: var(--color-accent);
    box-shadow: 0 4px 15px rgba(212, 165, 116, 0.3);
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.btn-secondary:hover {
    border-color: var(--color-accent);
    transform: translateY(-2px);
    color: var(--color-primary);
}
/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey);
    box-shadow: 0 4px 4px black;
    padding: 15px 25px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    margin-bottom: 50px;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: var(--text-heading);
}

#logo-period {
    color: var(--color-primary);
}

.navbar {
    color: var(--text-heading);
    display: flex;
    gap: 10px;
}

.navbar-link {
    color: var(--color-offwhite);
    font-size: 0.87rem;
    position: relative;
    transition:  color 0.3s ease;
}

.navbar-link:hover {
    color: var(--color-accent);
}

.navbar-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 2px;
    left: 50%;
    width: 0;
    background-color: var(--color-primary);
    display: block;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-link, #github-link {
    text-decoration: none;
}



/* About */

#about {
    padding: 80px 40px;
    background-color: var(--color-grey);
}


.about-content {
    display: grid;
    gap: 50px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 30px rgba(6, 19, 196, 0.3);
    margin-bottom: 50px;
}

#skills-title {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skills-list li {
    background-color: rgba(255, 100, 112, .7);
    padding: 10px 18px;
    font-size: 0.9rem;
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.skills-list li:hover {
    border-color: var(--color-accent);
    background-color: var(--color-primary);
    transform: translateY(-2px);
}
/* Projects */

#projects {
    padding: 80px 40px;
}

.projects-grid {
    display: grid;
    gap: 30px;
}

.project-card {
    display: grid;
    background-color: var(--color-grey);
    gap: 20px;
    padding: 30px;
    border: 1px solid var(--color-border);
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.project-card:hover {
    border-color: var(--color-blue);
    transform: translateY(-3px);
}

.project-card p {
    color: var(--color-offwhite);
}

.project-image {
    height: 180px;
    margin-inline: auto;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.project-tags li {
    background-color: var(--color-background);
    padding: 5px 12px;
    font-size: 0.8rem;
    color: var(--color-offwhite);
}

.project-links {
    display: flex;
    gap: 25px;
}

.project-link {
    color: var(--color-primary);
    font-size: 0.9rem;
    transition: opacity 0.2s ease;
}

.project-link:hover {
    opacity: 0.7;
}




/* Contact */

#contact {
    background-color: var(--color-grey);
    padding: 80px 40px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.contact-intro {
    margin-bottom: 50px;
}

.contact-content {
    display: grid;
    gap: 50px;
}

/* Contact Form */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-intro {
    max-width: 500px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-label {
    font-size: 0.9rem;
    color: var(--color-offwhite);
}

#name, #email, #message {
    padding: 15px;
    border: 1px solid var(--color-border);
    background-color: var(--color-grey);
    color: var(--color-offwhite);
    font-size: 1rem;
}

#name::placeholder, #email::placeholder, #message::placeholder {
    opacity: 0.5;
}

#name:focus, #email:focus, #message:focus {
    outline: none;
    border-color: var(--color-accent);
}

/* Contact Info */

.contact-info h3 {
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-links a {
    color: var(--color-offwhite);
    transition: color 0.2s ease;
}

.contact-links a:hover {
    color: var(--color-primary);
}


/* Footer */
footer {
    text-align: center;
    padding: 40px;
    border-top: 1px solid var(--color-border);
    color: var(--color-offwhite)
}
/* media querys */


@media (min-width:768px) {

    .navbar-link {
        font-size: 0.95rem;
    }
    .home-tagline-1 {
        font-size: 3rem;
    }
    
    .home-tagline-2 {
        font-size: 2.5rem;
    }
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .contact-content {
        grid-template-columns: 1.5fr 1fr;
    }

    .about-content {
        grid-template-columns: 2fr 1fr;
    }

}

@media (min-width: 900px) {
    .home-tagline-1 {
        font-size: 4.5rem;
    }

    .home-tagline-2 {
        font-size: 4rem;
    }

    section {
        padding: 100px 0;
    }
}


/* Animation keyframes */

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(10rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-10rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
