/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ol {
  padding-left: 20px;
}

img {
  width: 100%;
  border: 2px solid brown;
  border-radius: 1rem;
}

figure {
  margin-inline: auto;
  max-width: 30rem;
}

/* Add your CSS below */

header,
section,
main,
footer,
h1,
h2,
h3,
ul,
ol,
figcaption,
img {
  margin-bottom: 1rem;
}
body {
  background-color: #d1e7e0;
  color: rgb(126, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 80%;
  margin: auto;
}

main p {
  border-left: 2px solid brown;
  background-color: white;
  border-radius: 8px;
}

footer {
  border-top: 2px solid brown;
}

h1 {
  color: rgb(63, 47, 15);
  font-size:3rem;
}

h2 {
  color: rgb(63, 47, 15);
  font-size: 2.5rem;
  border-bottom: 2px solid brown;
}

h3 {
  color: black;
  font-size: 1.7rem;
}

nav>a {
  color: #ec665e;
  text-decoration: none;
  margin-right: .5rem;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: magenta;
}

footer a:hover {
  background-color: orange;
}

nav>a:hover {
  background-color: #fff3f0;
}

section {
  background-color: white;
  text-align: left;
  padding: 1rem;
  border-radius: .5rem;
}

li {
  padding: .5rem;
  margin-bottom: 1rem;
  background-color: #fff0;
  border-radius: .5rem;
}

/* You have an h3 tag with class. figure out what to do with it */
.ing-item {
  background-color: rgb(245, 199, 113);
}

.inst-item {
  padding:
}

#image-caption {
  font-style: italic;
}


